body{
    background-color: rgb(241, 228, 209);
}
.header {
    overflow: hidden;
    background-color: rgb(42, 80, 70);
    padding: 10px 10px;
    margin-bottom: 40px;
}
  
.header a {
    background-color: rgb(82, 175, 157);
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
    margin-left: 100px;
}
  
.header a.logo {
    font-size: 25px;
    font-weight: bold;
}
  
.header a:hover {
    background-color: #ddd;
    color: black;
 }
  
.header a.active {
    background-color: dodgerblue;
    color: white;
}
.header-right {
    float: right;
    margin-right: 20px;
}

#pageTitle{
    text-align: center;
    font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
    font-weight: normal;
    font-size: 1.75em;
    letter-spacing: .2em;
    line-height: 1.1em;
    text-align: center;
    text-transform: uppercase;
}
.form-group
{
    display: inline;
    
}
.form-group2{
    display: inline;
}
.btn {
    background-color: rgb(82, 175, 157); /* Green background */
    border: 3px solid rgb(42, 80, 70); /* Green border */
    color: rgb(15, 15, 15); /* White text */
    padding: 20px;
    cursor: pointer; /* Pointer/hand icon */
    width: 250px;
    text-align: center;/* Set a width if needed */
    margin-top: 20px;
    margin-left: 20px;
}
.btn button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn button:hover {
    background-color: #ddd;
    color: black;
}
#transferFundsForm
{
    background-color: rgb(82, 175, 157);
    border: 3px solid rgb(42, 80, 70);
    padding-top: 20px;
    padding-bottom: 20px;
}
.form-Transfer{
    margin: auto;
    max-width: 320px;
}
.eventButton{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.cancel{
    border: none;
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

